sales-payment-eapi/src/main/mule/sales-payment-eapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1c97f3ed-cf7e-4156-a8af-ee8b7e680e63" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sales-payment-eapiFlow" doc:id="56052ef5-9f4b-4ad8-a8a5-98a501213e1b" >
		<http:listener doc:name="Listener" doc:id="34087fe6-3d6e-4dfd-ac84-e1ee6ec47636" config-ref="HTTP_Listener_config" path="/employees"/>
		<logger level="INFO" doc:name="Logger" doc:id="b699ea1a-d948-49c5-a1d9-64b98d3e6f19" message='#[payload ++ "abiy"]'/>
	</flow>
</mule>
